body{
    background-color: lightgray;
    font-family: sans-serif;
}
.container{
    width: 500px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    padding: 25px;
    box-shadow: 0 0 10px #4c4d4c;
    border-radius: 10px;

}
.logo{
    width: 150px;
    display: block;
    margin: auto;
    border: 2px dottted red;
    border-radius: 50%;
    
}
.title{
    width: 160px;
    margin: auto;
    font-size: 25px;
    border-bottom: 5px solid rgb(176, 27, 27);
    color: #4c4d4c;
}
.desc{
    text-align: center;
        color: #4c4d4c;
s
}
.social{
    height: 60px;
    background-color: rgb(224, 11, 11);
    text-align: center;
}
.social img{
    width: 40px;
    margin: 10px;
    border-radius: 50%;
}
